<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Gibt eine Liste aller Spieler aus" >
		<meta name=author content="Marcel Crone">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
		<title>Highscore Liste</title>
	</head>
	
	<header>Highscore</header>
	
	<nav>
		<a th:href="@{/}"> Startseite </a>&nbsp;
		<a th:href="@{/highscore}"> Highscore </a>
	</nav>
	
	<section>
		<h1>Tabelle der besten Ergebnisse</h1>
		
		<table border="1">
			<tr>
				<th>Plazierung</th>
				<th>Name</th>
				<th>Punktzahl</th>
			</tr>
			
			<tr th:each="player : ${player}">
				<td th:utext="${player.name}">...</td>
				<td th:utext="${player.punktzahl}">...</td>
			</tr>	
		</table>
		
	</section>
</html>