<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Gibt eine Liste aller Spieler aus" >
		<meta name=author content="Marcel Crone">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
		<title>Highscore Liste</title>
	</head>
	
	<header>
		<img src="images/QuizTitelbild.png" alt="Titelbild">
	</header>
	
	<br>
	
	<nav>
		<a th:href="@{/}"> Startseite </a>&nbsp;
		<a th:href="@{/highscore}"> Highscore </a>
	</nav>
	
	<br>
	<br>
	
	<section>
		
		<table id="self_table" border="1">
			<tr>
				<th id="self_th" colspan="3"> Tabelle mit allen Ergebnissen </th>
			</tr>
			
			<tr>
				<td class="self_tb"> Plazierung</td>
				<td class="self_tb"> Name</td>
				<td class="self_tb"> Punktzahl</td>
			</tr>
			
			<tr th:each="player : ${player}">
				<td th:utext="${player.name}">...</td>
				<td th:utext="${player.punktzahl}">...</td>
			</tr>	
		</table>
		
	</section>
</html>