<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Quizseite</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	</head>
	<header>Willkommen</header>
	<nav>
	<p>Startseite</p>
	<p>Highscore</p>
	</nav>
	<section>
		<button> Drück mich</button>
	</section>
	
	<footer>
		<p style="text-align: center"><a href="html/impressum.html" TARGET="_blank">Impressum</a>&nbsp;<a href="html/DSGVO.html" TARGET="_blank">Datenschutzerkl&auml;rung</a></p>
		<p style="text-align: center">
	</footer>
</html>