<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Startseite der Website">
		<meta name="author" content="Tim Fichtner & Marcel Crone">
		<!-- A <meta> viewport element gives the browser instructions on how to control the page's dimensions and scaling.
			 The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device).
			 The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
		<script src="/js/javascripts.js"></script>
		<title>Startseite</title>
	</head>
	
	<header>
		<img src="images/QuizTitelbild.png" alt="Titelbild">
	</header>
	
	<br>
	
	<nav>
		<a th:href="@{/}"> Startseite </a> &nbsp;
		<a th:href="@{/highscore}"> Highscore </a> &nbsp;
		<a th:href="@{/deletePlayer}"> Eintrag loeschen </a>
	</nav>
	
	<br>
	<br>
	
	<section>
		<form th:action="@{/quizseite}" method="GET">
			<input type="submit" value="Starte Quiz"/>
		</form>
		<button onclick="myFunction()">Try it</button>
	</section>
	
	<br>
	<br>
	
	<footer>
		<a href="html/impressum.html" TARGET="_blank">Impressum</a>
	</footer>

</html>