<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Die Seite gibt 10 Fragen aus, die Beantwortet werden müssen." >
		<meta name=author content="Marcel Crone">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
		<title>Quizseite</title>
	</head>
	
	<header>
		<img src="images/QuizTitelbild.png" alt="Titelbild">
	</header>
	
	<section>
		<p> Hier entsteht die Quizseite </p>
	</section>

</html>