<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Die Seite gibt 10 Fragen aus, die Beantwortet werden müssen." >
		<meta name=author content="Marcel Crone">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
		<title>Quizseite</title>
	</head>
	
	<header>
		<img src="images/QuizTitelbild.png" alt="Titelbild">
	</header>
	
	<section>
		<table id="self_table" border="1">
			<tr>
				<th id="self_th" colspan="2"> Tabelle mit allen Ergebnissen </th>
			</tr>
			
			<tr>
				<td class="self_tb"> Plazierung</td>
				<td class="self_tb"> Name</td>
				<td class="self_tb"> Punktzahl</td>
			</tr>
			
			<tr th:each="question : ${questions}">
				<td th:utext="${question.nRang}">...</td>
				<td th:utext="${question.sName}">...</td>
				<td th:utext="${question.nPktZahl}">...</td>
			</tr>	
		</table>
		
		<form th:action="@{/deletePlayer}">
			<input type="submit" value="Weiter"/>	
		</form>
		
	</section>

</html>