<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Die Seite gibt 10 Fragen aus, die Beantwortet werden müssen." >
		<meta name=author content="Marcel Crone">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<title>Quizseite</title>
	</head>
	<body>
	<header>
		<img src="images/QuizTitelbild.jpg" alt="Titelbild">
	</header>
	
		<section>
	
			<table id="self_table">

				<tr>
					<th  id="self_th" rowspan="2" th:utext="${question.sFrage}">...</th>
				</tr>
			
				<tr>
					<td th:utext="${question.array_Antworten[0]}">...</td>
					<td th:utext="${question.array_Antworten[1]}">...</td>
					<td th:utext="${question.array_Antworten[2]}">...</td>
				</tr>	
			</table>
		
			<form th:action="@{/quizseite}">
				<fieldset>
					<legend>Quiz</legend>
			 		<input type="radio" name="Frage" th:value="${question.array_Antworten[0]}">
			 		<input type="radio" name="Frage" th:value="${question.array_Antworten[1]}">
			 		<input type="radio" name="Frage" th:value="${question.array_Antworten[2]}">
			 
			 		<input type="submit" value="Weiter"/>	
				</fieldset>
			</form>
		
		</section>
	</body>
	
</html>