<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Benutzer kann sich in die Rangliste eintragen">
		<meta name="author" content="Marcel Crone">
		<!-- A <meta> viewport element gives the browser instructions on how to control the page's dimensions and scaling.
			 The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device).
			 The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<title>Quizende</title>
	</head>
	
	<body>
	<header>
		<img src="images/QuizTitelbild.jpg" alt="Titelbild">
	</header>
		
	<br/>
	<br/>
	
		<section>
	
			<h1>Herzlichen Glückwünsch du hast das Quiz beendet</h1>
			<p>Deine Punke: </p>
			<div th:utext="${playerPunkte}"></div>
		
			<form th:action="@{/quizende}" th:object="${playerForm}" method="POST">
				Spielername:
				<input type="text" th:field="*{sName}" />
				<br/>
				Mail:
				<input type="text" th:field="*{sMail}" />
				<br/>
				<input type="submit" value="Create"/>	
			</form>
			<div th:if="${errorMessage}" th:utext="${errorMessage}" ></div>
	
		</section>
	
	<br>
	<br>
	</body>
</html>